@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
  height: 65px;
  border-radius: 8px;
  padding: 19px 28px;
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
}

.btn-secondary {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 4px;
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
  height: 49px;
  border-radius: 4px;
  padding: 11px 18px;
}

.btn-outlined {
  border-radius: 4px;
  height: 40px;
  border: 1px solid #7e90fe;
  color: #9873ff;
  padding: 9px 19px;
}

.my-container {
  @apply px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20;
}

.my-container-gap {
  margin-top: 130px;
}

.active {
  @apply font-medium tracking-wide text-blue-600 transition-colors duration-200;
}

.default {
  @apply font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-cyan-600;
}
